.navbar{
    width: 95%;
    margin: auto;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-link{
    font-weight: 300;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;

}

.nav-branding{
    font-size: 1.5rem;
    font-weight: 700;
}

#beschikbaarheidskalender {
    display: flex;
    flex-wrap: wrap;
}

.beschikbaar {
    background-color: #50a557;
    color: white;
    padding: 5px;
    margin: 5px;
}

.niet-beschikbaar {
    background-color: red;
    color: white;
    padding: 5px;
    margin: 5px;
}

.pagination {
    margin-top: 20px;
}

.pagination-link {
    margin-right: 5px;
}

.pagination-link.is-active {
    background-color: #3273dc;
    color: #fff;
}

 .pagination-container {
     display: flex;
     flex-wrap: wrap;
 }

.pagination-link {
    margin-right: 5px;
}

